.container {
  --sidebar-width: 300px;
  --transition-time: 0.3s;
  --sidebar-color-bg: #eee;
  background-color: #fff;
  display: flex;
  height: 100dvh;
  min-width: 360px;
}

.sidebar {
  background-color: var(--sidebar-color-bg);
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  transition: width var(--transition-time);
}

.sidebar.show {
  width: var(--sidebar-width);
}

.sidebar.hide {
  width: 0;
}

.sidebar .toggleButton {
  position: absolute;
  width: 2em;
  height: 3em;
  top: 5em;
  right: -2em;
  background-color: var(--sidebar-color-bg);
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  font-weight: bold;
  color: #999;
}

.sidebar.show .toggleButton::after {
  content: '<<';
}

.sidebar.hide .toggleButton::after {
  content: '>>';
}

.sidebar > div {
  width: var(--sidebar-width);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  width: 100%;
  position: relative;
  z-index: 0;
}

.content > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity var(--transition-time);
}

@media (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }

  .content {
    width: 100vw;
    flex-shrink: 0;
  }

  .sidebar.show + .content > .overlay {
    opacity: 0.5;
  }

  .sidebar.show + .content > .overlay,
  .sidebar.inTransition + .content > .overlay {
    width: 100%;
  }
}
