.container {
  --side-width: 300px;
  --transition-time: 0.3s;
  --side-color-bg: #eee;
  background-color: #fff;
  display: flex;
  height: 100dvh;
  min-width: 360px;
}

.side {
  background-color: var(--side-color-bg);
  flex: none;
  position: relative;
  z-index: 1;
  transition: width var(--transition-time);
}

.side.show {
  width: var(--side-width);
}

.side.hide {
  width: 0;
}

.side .toggleButton {
  position: absolute;
  width: 2em;
  height: 3em;
  top: 5em;
  right: -2em;
  background-color: var(--side-color-bg);
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  font-weight: bold;
  color: #999;
}

.side.show .toggleButton::after {
  content: '<<';
}

.side.hide .toggleButton::after {
  content: '>>';
}

.side > div {
  width: var(--side-width);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.main {
  min-width: 0;
  flex: auto;
  position: relative;
  z-index: 0;
}

.main > div {
  height: 100%;
}

.main > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity var(--transition-time);
}

@media (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }

  .side.show + .main > .overlay {
    opacity: 0.5;
  }

  .side.show + .main > .overlay,
  .side.inTransition + .main > .overlay {
    width: 100%;
  }
}
